@import "tailwindcss";

* {
    box-sizing: border-box;
}

@theme {
    --color-primary: #f7f4e9;
    --color-secondary: #d0e4f3;
    --color-custom-blue: #232f61;
    --color-accent: #ff4e4e;
    --color-MG-50: #effcfb;
    --color-MG-100: #d6f6f7;
    --color-MG-200: #aeecef;
    --color-MG-300: #7cdee4;
    --color-MG-400: #3fc6d1;
    --color-MG-500: #23a9b7;
    --color-MG-600: #20899a;
    --color-MG-700: #206f7e;
    --color-MG-800: #235b67;
    --color-MG-900: #214c58;
    --color-MG-950: #11313b;
    --color-charcoal: #214c58;
    --color-lavender-mist: #DCC6F0;
    --color-peach-50: #FFF3E6;
    --color-peach-100: #FFD6A5;
    --color-lavender-50: #F6F0FA;
    --color-lavender-100: #DCC6F0;
    --color-mint-50: #F0FBF4;
    --color-mint-100: #C9F7C3;
    --color-sun-glow: #FFF3B0;
    --color-soft-pink: #FF9AA2;
    --font-main: 'Poppins', sans-serif;
    --font-main-bold: 'Poppins Bold', sans-serif;

    --animate-fade-in: fade-in 0.5s ease-in both;

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.test {
    color: #d0e4f3;
}

@font-face { 
    font-family: Poppins;  
    font-style: normal;  
    font-weight: 200 1800;  
    font-display: swap;  
    src: url("./assets/fonts/Poppins-Medium.ttf") format("woff2");
}

@font-face { 
    font-family: Poppins Bold;  
    font-style: normal;  
    font-weight: 200 1800;  
    font-display: swap;  
    src: url("./assets/fonts/Poppins-Bold.ttf") format("woff2");
}